* {
	box-sizing: border-box;
}

.container {
	width: 1320px;
	margin: auto;
	padding: 20px;
	display: flex;
	justify-content: space-between;

}

.text-left{
	width: 500px;
	padding: 10px;
	text-align: center;
	font-size: 21px;
	font-weight: 600;
	height: 300px;
	background-color: gray;
	border-radius: 15px;

}

.text-right{
	width: 500px;
	padding: 10px;
	text-align: center;
	font-size: 21px;
	font-weight: 600;
	height: 300px;
	background-color: grey;
	border-radius: 15px;
	
}